<%= form_for :contact, url: contacts_path do |f| %>
<% if @contact.errors.any? %>
<div id="error_explanation">
<h2><%= pluralize(@contact.errors.count, "error") %>&nbspunable to save please check the errors:</h2>
<ul>
<% @contact.errors.full_messages.each do |msg| %>
<li><%= msg %></li>
<% end %>
</ul>
</div>
<% end %>
<p>
<%= f.label :firstname %> 
 <%= f.text_field :firstname %>
</p>
<p>
<%= f.label :lastname %>  
<%= f.text_field :lastname %>
</p>
<p>
<%= f.label :gender %>  
<%= f.select :gender, options_for_select([[""], ["male"], ["female"]]) %>
</p>
<p>
<%= f.label :email %> 
 <%= f.text_field :email %>
</p>
<p>
<%= f.label :mobile_number %>
 <%= f.text_field :mobile_number %>
</p>
<p>
<%= f.label :address %>
 <%= f.text_area :address %>
 <p>
<p>
<%= f.label :photo %>
<%= f.file_field :photo %>
</p>
<p align=center>
 <%= f.submit :onclick => "return validate();"%>
 </p>
 <% end %>

